.graphicLayout {
    border: 1px solid black;
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 1 auto;
}

.graphicColumn {
    background-color: darkslategray;
    width: 100%;
    /*margin: 1px;*/
}

#canvas {
    border: 1px solid black;
}