.graphicLayout {
    border: 1px solid black;
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 1 auto;
}

.graphicColumn {
    background-color: darkslategray;
    width: 100%;
    /*margin: 1px;*/
}

#sells-canvas, #looses-canvas {
    border: 1px solid black;
}

.sklad-input-wrapper{
    display: flex;
}

.sklad-input-wrapper>div{
    margin: 10px;
    margin-left: 0px;
}

.sklad-input-wrapper>div>span{
    font-weight: 1000;
    font-size: 20px;
}

#theme-selector{
    font-size: 20px;
    margin-left: 10px;
}

#sklad-wrapper{
    margin-left: 20px;
}

#sprending-wrapper{
    margin-left: 20px;
}

.productMarker{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: darkgrey;
    margin: 0px 0px 0px 4px;
}

.canvases-wrapper{
    display: flex;
}

.canvases-wrapper>div{
    margin:10px
}